.container{
    background-color: rgb(255, 255, 255);
    
}

.navbar{
    background-color:rgb(252, 155, 164);
    border-radius: 30px;
}
  
.navbar ul{
    overflow:auto;
}

.navbar li{
    float: right;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a{
    padding: 2px 2px;
    text-decoration: none;
}

.navbar li a:hover{
    color:rgb(223, 196, 202);
}

.box{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    }

    .card {
        padding: 30px;
        background-color: rgb(223, 189, 189);
        width: 80%;
        box-shadow: 0 2px 7px rgb(238, 5, 5);
        border-radius: 4px;
        display: flex;
        flex-direction:row;
        cursor: pointer;
        cursor: pointer;
        margin: auto;
        border-radius: 10px;
    }

    .selected {
        color: rgb(212, 179, 179);
    }
    .selected-bg {
        background-color: #f3f180;
    }

.image{
    display: flex;
    flex-wrap: wrap;
    height: 139px;
    width: 106px;
    padding: 30px;
}
       
.new{
    display: flex;
    flex-direction: column;
}

.multiples{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-left: 70px;
    }


.cardog {
        padding: 15px;
        background-color: rgb(rgb(248, 197, 197));
        width: 180px;
        box-shadow: 0 2px 7px rgb(238, 5, 5);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

.card1-top {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-transform: capitalize;
}

.card2-mid {
    font-size: 22px;
    font-weight: 700;
    margin:10px 0;
}

.card3-bottom {
    color: #14056d;
    font-size: 15px;
}
